@model IEnumerable<MagicSing.Models.Playlist>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaylistName)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaylistName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaylistID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlaylistID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaylistID })
        </td>
    </tr>
}

</table>
